<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
   			http://www.springframework.org/schema/data/mongo
   			http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">


    <mongo:mapping-converter id="mappingConverter" >
        <mongo:custom-converters>
            <mongo:converter>
                <bean class="com.thinkgem.jeesite.modules.plat.convert.Decimal128ToBigDecimalConverter"/>
            </mongo:converter>
            <mongo:converter>
                <bean class="com.thinkgem.jeesite.modules.plat.convert.BigDecimalToDecimal128Converter"/>
            </mongo:converter>
        </mongo:custom-converters>
    </mongo:mapping-converter>


    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
        <constructor-arg name="mongoConverter" ref="mappingConverter"/>
    </bean>


    <mongo:mongo-client id="mongoClient" host="${mongo.host}" port="${mongo.port}"
                        credentials="${mongo.username}:${mongo.password}@${mongo.dbname}">
        <mongo:client-options write-concern="1"/>
    </mongo:mongo-client>

    <mongo:db-factory id="mongoDbFactory" dbname="${mongo.dbname}" mongo-ref="mongoClient"/>


    <!-- mongodb bean的仓库目录，会自动扫描扩展了MongoRepository接口的接口进行注入 -->
    <mongo:repositories base-package="com.thinkgem.jeesite.modules.plat.entity.mongo"/>

</beans>